<div class="body-content">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-outline-primary" (click)="redirect('cliente')">
          <i class="ph ph-arrow-circle-left icon-text-button"></i>
          Regresar
        </button>
      </div>
  
      <div class="card-body">
        <div class="row">
          <!-- Imagen del cliente -->
          <div class="col-md-4 text-center">
            <img
              [src]="customer.image.image ? customer.image.image : 'assets/icono_user.png'"
              class="customer-image"
              alt="Imagen del cliente"
            />
            <label for="uploadImage" class="edit-customer-image">
              <input
                type="file"
                (change)="fileChangeHandler($event)"
                id="uploadImage"
                class="d-none"
              />
              <i class="ph ph-note-pencil icon-text-button"></i>
              Editar imagen
            </label>
          </div>
  
          <!-- Datos del cliente -->
          <div class="col-md-8">
            <div class="customer-title">
              {{ customer.name }} {{ customer.surname }}
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <th>RFC</th>
                  <td>{{ customer.rfc }}</td>
                </tr>
                <tr>
                  <th>Correo electrónico</th>
                  <td>{{ customer.mail }}</td>
                </tr>
                <tr>
                  <th>Región</th>
                  <td>{{ customer.region }}</td>
                </tr>
                <tr>
                  <th>Dirección</th>
                  <td>{{ customer.address }}</td>
                </tr>
              </tbody>
            </table>
            <button type="button" class="btn btn-edit">
              <i class="ph ph-note-pencil"></i>
              Editar
            </button>
            <button type="button" class="btn btn-delete">
              <i class="ph ph-trash"></i>
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  