<!-- home.component.html -->
<div class="container my-5">
    <!-- Sección de Bienvenida -->
    <div class="jumbotron text-center bg-light p-5 rounded" style="background-image: url('assets/imagenes/almacen.jpg'); background-size: cover; background-position: center;">
      <h1 class="display-4 ">¡Bienvenido a Nuestra Tienda en Línea!</h1>
      <p class="lead ">Descubre los mejores productos a precios inmejorables.</p>
      <hr class="my-4 ">
      <p class="text">Regístrate ahora y obtén ofertas y promociones exclusivas.</p>
      <a class="btn btn-primary btn-lg" routerLink="/register" role="button">Regístrate Ahora</a>
    </div>
  
    <!-- Categorías Destacadas -->
    <h2 class="mt-5 mb-4 text-center">Categorías Destacadas</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/imagenes/user-logo.png" class="card-img-top" alt="Electrónica">
          <div class="card-body">
            <h5 class="card-title">Electrónica</h5>
            <p class="card-text">Últimos gadgets y dispositivos a precios increíbles.</p>
            <a href="#" class="btn btn-outline-primary">Comprar Ahora</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/images/category2.jpg" class="card-img-top" alt="Moda">
          <div class="card-body">
            <h5 class="card-title">Moda</h5>
            <p class="card-text">Ropa y accesorios a la moda para todas las temporadas.</p>
            <a href="#" class="btn btn-outline-primary">Explorar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/images/category3.jpg" class="card-img-top" alt="Hogar y Jardín">
          <div class="card-body">
            <h5 class="card-title">Hogar y Jardín</h5>
            <p class="card-text">Todo lo que necesitas para hacer de tu casa un hogar.</p>
            <a href="#" class="btn btn-outline-primary">Descubrir</a>
          </div>
        </div>
      </div>
    </div>
  
    
      <!-- Fin del bloque de producto -->
    
</div>
