<div class="container">
  <h2>Lista de Categorías</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tag</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.category_id }}</td>
        <td>{{ category.category }}</td>
        <td>{{ category.tag }}</td>
        <td>{{ category.status ? 'Activo' : 'Inactivo' }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Botón para abrir el modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#categoryModal"
  >
    Agregar Nueva Categoría
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="categoryModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="categoryModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="categoryModalLabel">Nueva Categoría</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="category" class="form-label">Nombre de la Categoría</label>
              <input
                id="category"
                type="text"
                class="form-control"
                formControlName="category"
                [ngClass]="{
                  'is-invalid':
                    categoryForm.get('category')?.invalid &&
                    categoryForm.get('category')?.touched
                }"
              />
              <div
                *ngIf="
                  categoryForm.get('category')?.invalid &&
                  categoryForm.get('category')?.touched
                "
                class="invalid-feedback"
              >
                El nombre de la categoría es obligatorio.
              </div>
            </div>
            <div class="mb-3">
              <label for="tag" class="form-label">Acrónimo</label>
              <input
                id="tag"
                type="text"
                class="form-control"
                formControlName="tag"
                [ngClass]="{
                  'is-invalid':
                    categoryForm.get('tag')?.invalid &&
                    categoryForm.get('tag')?.touched
                }"
              />
              <div
                *ngIf="
                  categoryForm.get('tag')?.invalid &&
                  categoryForm.get('tag')?.touched
                "
                class="invalid-feedback"
              >
                El acrónimo es obligatorio.
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
