<app-theme-selector></app-theme-selector>
<app-navbar></app-navbar>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-end" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom">Practica 3</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action p-3" href="#"><i class="fas fa-home"></i> Dashboard</a>
            <a class="list-group-item list-group-item-action p-3" href="#"><i class="fas fa-cog"></i> Configuración</a>
            <a class="list-group-item list-group-item-action p-3" href="#"><i class="fas fa-info-circle"></i> Acerca de</a>
            <a class="list-group-item list-group-item-action p-3" routerLink="/login">
                <i class="fas fa-sign-in"></i> Login
            </a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Contenido cargado dinámicamente con router-outlet -->
    <div id="page-content-wrapper" class="main-container">
        <div class="container-fluid px-4">
            <router-outlet></router-outlet>
        </div>
  
        <!-- Pie de página -->
        <footer>
            <p>&copy; Jueves 19 de septiembre del 2024 Practica 5.
            <a href="#"><i class="fab fa-facebook text-white"></i></a> 
            <a href="#"><i class="fab fa-twitter text-white"></i></a></p>
        </footer>
    </div>
  </div>
