<app-theme-selector></app-theme-selector>
<app-navbar></app-navbar>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    
    <!-- /#sidebar-wrapper -->
  
    <!-- Contenido cargado dinámicamente con router-outlet -->
    <div id="page-content-wrapper" class="main-container">
        <div class="container-fluid px-4">
            <router-outlet></router-outlet>
        </div>
  
        <!-- Pie de página -->
        <footer>
            <p>&copy; Derechos Reservados ZATRA/DIEGO.
            <a href="#"><i class="fab fa-facebook text-white"></i></a> 
            <a href="#"><i class="fab fa-twitter text-white"></i></a></p>
        </footer>
    </div>
  </div>
